/*.fan_box {line-height:100% !important;}
.fan_box .full_widget {border:none !important; background:none !important;}
.fan_box .connect_top {padding:0 !important; background:none !important;}
.fan_box .connect_action {padding:0 !important;}
.fan_box .connect_action .name_block a {width:115px !important; height:17px !important; line-height:100% !important; overflow:hidden !important; display:block !important; color:#fff !important; white-space:nowrap !important;}
.fan_box .connect_action .name_block .name {color:#3B5998 !important;}
.fan_box .connections {padding:10px 0 0 0 !important; border:none !important;}
.fan_box .connections .total {white-space:nowrap !important;}
.fan_box .connections_grid {padding-top:10px !important;}
.fan_box .connect_widget_sample_connections {display:none !important;}
.fan_box a {text-decoration:none !important;}*/