<div id="footer">
    <div id="nav_menu">
        <ul class="nav">
            <li class="itm01">
                <a href="javascript:;" onclick="openModal('termos_de_uso');">TERMOS DE USO</a>
            </li>
            <li class="itm02">
                <a href="javascript:;" onclick="openModal('como_participar');">COMO PARTICIPAR</a>
            </li>
            <li class="itm03">
                <a href="javascript:;" onclick="openModal('apoiadores');">APOIADORES</a>
            </li>
            <li class="itm04">
                <a href="https://docs.google.com/spreadsheet/viewform?hl=pt_BR&formkey=dHc1ZzhueEJ3R1k1TmlDeDQxRjFJTkE6MQ#gid=0" target="_blank">SEJA UM VOLUNTÁRIO</a>
            </li>
            <li class="itm05">
                <a href="javascript:;" onclick="openModal('fale_conosco');">FALE CONOSCO</a>
            </li>
						<li class="social_network">
            <!--<iframe src="//www.facebook.com/plugins/like.php?href=www.portoalegre.cc&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>-->
            				<a class="facebook_share" name="fb_share" share_url="www.portoalegre.cc"></a> 
								<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
            </li>
						<li class="social_network">
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="www.portoalegre.cc" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
						</li>
        </ul>
    </div>
    <div id="partners">
        <img src="/images/textos_footer.png"></img>
				<ul class="apoios">
            <li class="itm01">
                <a href="http://www.unisinos.br/" target="_blank">UNISINOS</a>
            </li>
            <li class="itm02">
                <a href="http://www.portoalegre.rs.gov.br/" target="_blank">PREFEITURA</a>
            </li>
            <li class="itm03">
                <a href="http://www.parceirosvoluntarios.org.br" target="_blank">PARCEIROS VOLUNTARIOS</a>
            </li>
            <li class="itm04">
                <a href="http://www.lung.com.br" target="_blank">LUNG</a>
            </li>
            <li class="itm05">
                <a href="http://creativecommons.org/" target="_blank">CREATIVE COMMONS</a>
            </li>
            <li class="itm06">
                <a href="http://www.ionatec.com.br/" target="_blank">IONATEC</a>
            </li>
				</ul>
    </div>
</div>
