<div id="mdlSobreProjeto" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer()">close</a>
	<div class="ctm">
	<div class="mdlPin"><!-- --></div>
	<h2>Apoiadores</h2>
	<div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
	<div class="cml">
		<div class="cmr">
			<div class="cmm">
				<div class="mdlIn sobreProjeto">
					<h3>Quem apoia esta causa</h3>
					
					<p>Fazer uma cidade melhor não é algo que dependa só de uma pessoa, de uma empresa ou do governo. Todos precisam fazer sua parte para que as mudanças tão sonhadas virem realidade. Várias entidades já se engajaram para fazer uma Porto Alegre melhor, entre elas:</p>				
										
					<div class="logos-apoiadores">
						<a href="http://www.unisinos.br" target="_blank" onclick="GA.trackEvent('banners', 'clique', 'unisinos');"><img class="fl" src="/img/logo_unisinos_black.gif" /></a>
						<img class="fr" src="/img/logo_parceiros_voluntarios.gif" />
						<span class="break"><!--  --></span>
					</div>
					<span class="break"><!--  --></span>
					
					<p>Agora é hora de você também fazer a sua parte.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
	<div class="pntDwn"><!-- --></div>
</div>
<script type="text/javascript">
	GA.track('/site/outros/apoiadores');
</script>