<div id="mdlSobreProjeto" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer()">close</a>
	<div class="ctm">
	<div class="mdlPin"><!-- --></div>
	<h2>Como Participar</h2>
	<div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
	<div class="cml">
		<div class="cmr">
			<div class="cmm">
				<div class="mdlIn sobreProjeto">
					<h3>Todos precisam fazer sua parte</h3>

					<p>O PortoAlegre.cc nasce com a proposta de ser uma plataforma colaborativa onde todas as pessoas que curtem a cidade podem contribuir. Quem nunca passou um domingo de sol no Parque da Redenção, tomando chimarrão e aproveitando a companhia dos amigos? Ou deu aquela azarada básica no Parcão? Ou ainda, curtiu aquele pôr-do-sol especial na orla do Guaí­ba, que a gente tem o maior orgulho de dizer que é o mais belo do mundo?</p>
					<p>O projeto PortoAlegre.cc veio para fazer parte dessas vidas, resgatando histórias, discutindo a cidade e fazendo dela um lugar cada vez melhor. Participar é fácil: basta nos falar sobre o que é Porto Alegre para você. Seja contando histórias, mostrando fotos e ví­deos ou sugerindo o que pode ser feito para o futuro da cidade ser cada vez melhor.</p>
					<p>Na primeira etapa, você pode contribuir criando uma <strong>causa</strong>. Bem, mas o que é uma causa?</p>
					<p>É algo que pode ser feito para melhorar um lugar em Porto Alegre. Quer uma cidade mais segura? Mais tranquila? Quem sabe, mais sustentável? Você pode ter uma ideia de como colocar isso em prática. E já imaginou que pode haver outras pessoas interessadas em ajudar em levar isso adiante? Mas as causas não se resumem a demandas e anseios. Uma causa pode ser criada para celebrar um lugar. Cadastre no site aquela galeria de arte bacana do seu bairro, o point do skate e do chimarrão. Qualquer lugar que mereça um destaque é bem-vindo no PortoAlegre.cc</p>
					<p>Para criar uma causa, basta criar um usuário no site e se conectar com sua conta do Twitter, Facebook ou Google. Daí é escrever a sua ideia e espalhá-la entre seus amigos. Quanto mais gente souber, mais pessoas poderão ajudar a tirar a ideia da sua cabeça e mudar a realidade que nos cerca.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
	<div class="pntDwn"><!-- --></div>
</div>
<script type="text/javascript">
	GA.track('/site/outros/como_participar');
</script>