<div id="mdlSobreProjeto" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer()">close</a>
	<div class="ctm">
	<div class="mdlPin"><!-- --></div>
	<h2>Sobre o Projeto</h2>
	<div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
	<div class="cml">
		<div class="cmr">
			<div class="cmm">
				<div class="mdlIn sobreProjeto">
					<h3>PORTOALEGRE.CC</h3>

					<p>O projeto PortoAlegre.cc é a concretização do conceito de Wikicidade. Criado dentro da Universidade do Vale do Rio dos Sinos - Unisinos -, este conceito se refere a uma plataforma digital que permite a discussão da história, a realidade e o futuro de territórios específicos, e nasceu após a experiência liderada pela própria universidade no Parque da Redenção, o Redenção.cc - projeto pioneiro no Brasil.</p>
					<p>Em outras palavras, PortoAlegre.cc é um espaço de radicalização da democracia, onde você tem voz e vez para discutir a cidade, mostrando o que ela tem de bom e o que precisa ser melhorado. Melhor ainda, você pode dar sua opinião de como a cidade pode melhorar, e chamar as pessoas para ajudarem a transformar essa ideia em realidade.</p>
					<p>Certo lugar perto da sua casa tem interesse histórico? Você pode criar um wikispot para ele. Ou quem sabe criar um para seu próprio bairro, estimulando a discussão entre o pessoal da sua comunidade sobre os problemas que estão acontecendo, e debatendo como resolvê-los? É assim que dá pra começar a fazer a diferença.</p>
					<p>Cada um dos 82 dos bairros estão representados dentro do PortoAlegre.cc. Ele é uma cópia fiel e digital de como a cidade funciona. Você poderá navegar pelo mapa e publicar conteúdos diretamente em sites de redes sociais como Twitter, Facebook, YouTube e Vimeo, falando de situações que te tocam na cidade - sempre lembrando que ela pode melhorar com a ajuda de todos.</p>
					<p>O "cc" do nome vem do termo Creative Commons, um tipo de licença de propriedade intelectual criado para compartilhar conteúdos culturais com todos. Assim, todo este projeto pode ser utilizado por qualquer um para também fazer um wikispot de um lugar na sua cidade.</p>
					<p>Entre em <a href="javascript:;" onclick="openModal('fale_conosco');">contato conosco</a> ou encontre-nos no <a href="http://twitter.com/portoalegrecc" target="_blank">Twitter</a>, <a href="http://www.facebook.com/poa.cc" target="_blank">Facebook</a>, e <a href="http://www.orkut.com.br/Main#Profile?uid=16734001755679377771" target="_blank">Orkut</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
	<div class="pntDwn"><!-- --></div>
</div>
<script type="text/javascript">
	GA.track('/site/outros/sobre_o_projeto');
</script>