<div id="mdlSobreProjeto" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer()">close</a>
	<div class="ctm">
	<div class="mdlPin"><!-- --></div>
	<h2>Termos de Uso</h2>
	<div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
	<div class="cml">
		<div class="cmr">
			<div class="cmm">
				<div class="mdlIn sobreProjeto">
					<h3>Leia com atenção</h3>
					
					<div class="scroll-pane">
						<p>O Usuário/Colaborador deve ler com atenção os Termos de Uso da plataforma digital PortoAlegre.cc, uma vez que a sua utilização implica na aceitação e na concordância com os mesmos.</p>
						
						<ol>
							<li>
								<strong>Do objeto da plataforma digital PortoAlegre.cc</strong>
								<p>A plataforma PortoAlegre.cc tem por  objetivo  discutir a história, a realidade e o futuro da cidade de Porto Alegre, capital do Estado do Rio Grande do Sul.</p>
							</li>
							<li>
								<strong>Definições gerais:</strong>
								<p>Para os efeitos deste Termo de Uso, considera-se:</p>
								<ul>
									<li>a) usuário: qualquer pessoa que de alguma forma acesse a plataforma digital PortoAlegre.cc, bem como aquele que por qualquer meio venha a utilizar o conteúdo nela disponibilizado;</li>
									<li>b) colaborador: qualquer pessoa que participe e contribua com a edição de conteúdo na plataforma digital PortoAlegre.cc de forma colaborativa;</li>
									<li>c) moderador: a(s) pessoa(s) que dispõe(m) de acesso aos mecanismos de controle de conteúdo postado na plataforma digital PortoAlegre.cc , no intuito de evitar a inclusão de informações inverí­dicas, abusivas, ofensivas, ou que de qualquer forma desrespeitem o presente Termo de Uso;</li>
									<li>d) plataforma digital colaborativa: corresponde à base de dados digital construí­da pela edição coletiva dos colaboradores de conteúdo da PortoAlegre.cc.</li>
								</ul>
							</li>
							<li>
								<strong>Responsabilidades do Usuário:</strong>
								<p>Constituem responsabilidades do Usuário da plataforma digital PortoAlegre.cc:</p>
								<ul>
									<li>a) não utilizar o conteúdo disponí­vel na plataforma digital para fins diversos daqueles a que se destinam, principalmente para finalidade lucrativa e/ou comercial;</li>
									<li>b) fazer uso do conteúdo disponível na plataforma digital de acordo com a licença referida no item n. 05 deste Termo de Uso;</li>
									<li>c) não utilizar a plataforma para fins caluniosos, partidários ou comerciais, ou para qualquer outro fim diverso daquele a que se destina;</li>
									<li>d) cumprir rigorosamente todas as determinações deste Termo de Uso.</li>
								</ul>
							</li>
							<li>
								<strong>Responsabilidades do Colaborador:</strong>
								<p>Constituem responsabilidades do Colaborador da plataforma digital PortoAlegre.cc:</p>
								<ul>
									<li>a) responsabilizar-se pela veracidade e pela autenticidade do conteúdo inserido na plataforma digital PortoAlegre.cc;</li>
									<li>b) respeitar os demais Colaboradores e/ou Usuários da plataforma digital PortoAlegre.cc;</li>
									<li>c) comportar-se de forma <a href="http://pt.wikipedia.org/wiki/Wikipédia:WikiCivics" target="_blank">civilizada</a>, evitar fazer <a href="http://pt.wikipedia.org/wiki/Wikipédia:Não_faça_ataques_pessoais" target="_blank">ataques pessoais</a> e não utilizar a plataforma para fins caluniosos, partidários ou comerciais, ou para qualquer outro fim diverso daquele a que se destina;</li>
									<li>d) respeitar direitos autorais de terceiros. Portanto, para inserir conteúdo na plataforma, o Colaborador deve ser detentor dos direitos de autor, ou seja, o conteúdo deve ser de sua própria autoria, ou deve ser buscado em fonte que autorize a sua utilização ou estar em domí­nio público;</li>
									<li>e) não utilizar a plataforma digital PortoAlegre.cc com qualquer propósito criminoso ou ilegal;</li>
									<li>f) não inserir, enviar ou transmitir quaisquer tipos de informações que induzam, incitem ou provoquem atitudes discriminatórias, mensagens violentas ou delituosas, ou que atentem contra os bons costumes e a moral, ou que contrariem a ordem pública;</li>
									<li>g) identificar-se corretamente, não fazendo uso de informações falsas ou de propriedade de terceiros sem o seu conhecimento e a sua prévia autorização;</li>
									<li>h) respeitar a privacidade de outros colaboradores e/ou usuários;</li>
									<li>i) não enviar ou transmitir arquivos com ví­rus de computador, com conteúdo destrutivo ou que causem dano permanente ou temporário nos equipamentos dos destinatários do PortoAlegre.cc ou à plataforma digital.</li>
								</ul>
							</li>
							<li>
								<strong>Atribuições do Moderador:</strong>
								<ul>
									<li>O(s) moderador(es) dispõe(m) de acesso aos mecanismos de controle de conteúdo postado na plataforma digital PortoAlegre.cc, no intuito de zelar pelo seu bom uso, bem como pelo cumprimento de todos os itens do presente Termo de Uso.</li>
									<li>O(s) moderador(es) também deve(m) auxiliar os Usuários e os Colaboradores quanto à utilização da plataforma digital PortoAlegre.cc.</li>
								</ul>
							</li>
							<li>
								<strong>Quanto à forma de disponibilização do conteúdo da plataforma digital:</strong>
								<p>Todos os conteúdos da plataforma digital PortoAlegre.cc estão disponíveis nos termos da Licença Creative Commons de Atribuição - Uso não-comercial - Compartilhamento pela mesma Licença.</p>
								<p>Para conhecer os termos da Licença Creative Commons de Atribuição - Uso não-comercial - Compartilhamento pela mesma Licença acesse o link: <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.pt_BR" target="_blank">http://creativecommons.org/licenses/by-nc-sa/3.0/deed.pt_BR</a>.</p>
								<p>Esta licença autoriza qualquer um a criar, copiar, modificar e distribuir o conteúdo da plataforma digital PortoAlegre.cc, proí­be o uso comercial de seu conteúdo e estabelece a condição de conservar esta mesma licença em usos posteriores, assim como creditar o PortoAlegre.cc.</p>
							</li>
							<li>
								<strong>Infração do Termo de Uso da plataforma digital PortoAlegre.cc</strong>
								<p>O Usuário e/ou Colaborador que violar o presente Termo de Uso será notificado pelo Moderador a cessar a prática irregular imediatamente.</p>
								<p>Após a notificação, caso o Usuário e/ou Colaborador persista no descumprimento do presente Termo de Uso, o Moderador deverá excluí­-lo sem prévio aviso.</p>
								<p>As penalidades previstas neste item não excluem as cominações legais que tais irregularidades venham a dar causa, devendo o Usuário e/ou Colaborador suportá-las.</p>
							</li>
							<li>
								<strong>Quanto ao caráter colaborativo da plataforma digital PortoAlegre.cc</strong>
								<p>A plataforma digital PortoAlegre.cc constitui-se num ambiente colaborativo, aberto à livre expressão dos usuários e colaboradores. Por se tratar de obra colaborativa, não há atribuição de direitos autorais e tampouco é possí­vel aos Colaboradores obstarem a participação de outros autores.</p>
								<p>Dessa forma, a plataforma PortoAlegre.cc não assume responsabilidade por nenhuma consequência que possa advir de qualquer relação direta ou indireta, ação ou omissão, que o Usuário ou o Colaborador faça baseado nas informações e outros materiais desta plataforma digital, além de perda ou dano relacionado a imprecisão destas.</p>
							</li>
							<li>
								<strong>Aceitação do Termo de Uso</strong>
								<p>O Usuário e/ou Colaborador, ao aceitar o presente Termo de Uso, compromete-se com o cumprimento de todos os seus itens.</p>
								<p>Caso não haja concordância quanto ao conteúdo do presente Termo de Uso, o internauta não deverá fazer uso da plataforma PortoAlegre.cc</p>
							</li>
							<li>
								<strong>Alterações do Termo de Uso</strong>
								<p>A plataforma digital PortoAlegre.cc poderá alterar este Termo de Uso a qualquer momento.</p>
								<p>Solicita-se a leitura periódica deste Termo de Uso a tí­tulo de conhecimento sobre as responsabilidades, os deveres e as obrigações que o Usuário e/ou Colaborador assume quando utiliza a plataforma.</p>
							</li>
							<li>
								<strong>Legislação aplicável ao Termo de Uso</strong>
								<p>Quaisquer disputas e/ou controvérsias relacionadas ao presente Termo de Uso serão submetidas às Leis brasileiras.</p>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
	<div class="pntDwn"><!-- --></div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('.scroll-pane').jScrollPane();
	});
</script>
<script type="text/javascript">
	GA.track('/site/outros/termos_de_uso');
</script>