Sua causa <b><%= @cause.title %></b> no PortoAlegre.cc recebeu um comentário.<br/><br />
 
<span style='color: #23485b; font-weight: bold;'>Acesse o <a href="<%= 'http://www.portoalegre.cc' + @cause.url %>" style="color: #72bd3c; text-decoration: none;">link</a> para acompanhar a discussão.</span><br/><br/>
 
Equipe PortoAlegre.cc
